  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a class="navbar-brand" routerLink="/">
        <img
          class="img-responsive"
          src="assets/logo.png" 
          alt="Darwish | Cybertech India Private Limited" 
          style="max-width:100px;">
        Darwish Cybertech</a>
      <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link-d" id="id01" routerLink="/">HOME</a>
          </li>
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link-d dropdown-toggle" id="id02" ngbDropdownToggle>ABOUT US</a>
            <div class="dropdown-menu" aria-labelledby="id02" ngbDropdownMenu>
              <a class="dropdown-item" routerLink="/about/company-profile">Company Profile</a>
              <a class="dropdown-item" routerLink="/about/journey-so-far">Journey So Far</a>
              <a class="dropdown-item" routerLink="/about/board-of-directors">Board Of Directors</a>
              <a class="dropdown-item" routerLink="/about/company-policies">Company Policies</a>
            </div>
          </li>
          <li class="nav-item dropdown" ngbDropdown>
              <a class="nav-link-d dropdown-toggle" id="id03" ngbDropdownToggle>SERVICES</a>
              <div class="dropdown-menu" aria-labelledby="id03" ngbDropdownMenu>
                  <a class="dropdown-item" routerLink="/services/enterprise-application-services">Enterprise Application Services</a>
                  <a class="dropdown-item" routerLink="/services/managed-services">Managed Services</a>
                  <a class="dropdown-item" routerLink="/services/it-enabled-services">IT Enabled Services(ITES)</a>
                  <a class="dropdown-item" routerLink="/services/business-intelligence-services">Business Intelligence Services</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link-d" id="id04" routerLink="/career">CAREER</a>
          </li>
          <li class="nav-item">
              <a class="nav-link-d" id="id05" routerLink="/contact">CONTACT US</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Navbar -->
    
  </header>