.navbar {
    background-color: #ffffff!important;
    padding: 0px 70px;
    margin: 0px 0;
}

.navbar-brand {
  font-size: 22px;
  font-weight: 600;
  color: #134173 !important;
  text-shadow: none !important;
}

img.img-responsive {
    height: 70px;
}

a.nav-link {
    font-weight: 400;
    color: #134173 !important;
    margin-left: 15px;
}

 /* Carousel styling */
 #introCarousel,
 .carousel-inner,
 .carousel-item,
 .carousel-item.active {
   height: 100vh;
 }

 .carousel-item:nth-child(1) {
   background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }

 .carousel-item:nth-child(2) {
   background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }

 .carousel-item:nth-child(3) {
   background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }

 /* Height for devices larger than 576px */
 @media (min-width: 992px) {
   #introCarousel {
     margin-top: -58.59px;
   }
 }

 .navbar .nav-link {
   color: #fff !important;
 }

 .dropdown:hover .dropdown-menu {
  display: block;
}