<!--Main Navigation-->
<mdb-carousel [isControls]="false" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="img-fluid d-block w-100" src="assets/banner-1.png" alt="First slide">
    <div class="carousel-caption">
      <div class="animated fadeInDown delay-1s">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Third text</p>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="img-fluid d-block w-100" src="assets/banner-2.png" alt="Second slide">
    <div class="carousel-caption">
      <div class="animated fadeInDown delay-1s">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Third text</p>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<!--Main layout-->

<section class="section section-lg">
  <div class="container">
    <div class="row justify-content-center text-center mb-lg">
      <div class="col-lg-12">
        <h2 class="display-3">Overview</h2>
        <p class="lead text-muted">Darwish Cybertech India Private Limited (DCIPL) is 100% subsidiary of United Motors Heavy Equipment LLC (UMHE), Dubai, United Arab Emirates (UAE). UMHE is a group company belonging to large enterprise Darwish Bin Ahmed & Sons Group (DBA & Sons), UAE. DCIPL at present is focused on providing the captive Information Technology (IT) and IT Enabled Services (ITES) solutions for the group, enabling them to leverage IT as a strategic asset. Empowered by a unique combination of skilled professionals, teamwork, strong leadership, and standards of service, through the depth in expertise of information technology verticals, sound & scalable IT infrastructure, Business Intelligence and planning tools, we have created a conducive environment to fulfill demand of cost control and efficiency, as well as the business’ need for unwavering focus to provide agile, approachable, and adaptable IT & IT enabled services.</p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section section-lg">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-md-2">
        <img src="./assets/team-work.jpg" class="img-fluid floating">
      </div>
      <div class="col-md-6 order-md-1">
        <div class="pr-md-5">
          <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
            <!-- <i class="ni ni-settings-gear-65"></i>  -->
           <!-- <i class="fa fa-eye" aria-hidden="true"></i>
          </div>
          <h3>Overview</h3>
          <p>Darwish Cybertech India Private Limited (DCIPL) is 100% subsidiary of United Motors Heavy Equipment LLC (UMHE), Dubai, United Arab Emirates (UAE). UMHE is a group company belonging to large enterprise Darwish Bin Ahmed & Sons Group (DBA & Sons), UAE.

            DCIPL at present is focused on providing the captive Information Technology (IT) and IT Enabled Services (ITES) solutions for the group, enabling them to leverage IT as a strategic asset. Empowered by a unique combination of skilled professionals, teamwork, strong leadership, and standards of service, through the depth in expertise of information technology verticals, sound & scalable IT infrastructure, Business Intelligence and planning tools, we have created a conducive environment to fulfill demand of cost control and efficiency, as well as the business’ need for unwavering focus to provide agile, approachable, and adaptable IT & IT enabled services.
            </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Key Offerings Section -->

<section class="section bg-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h2 class="display-3 text-center pb-100">Key Offerings</h2>
        <div class="row row-grid">
          <div class="col-lg-3">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                  <!-- <i class="ni ni-check-bold"></i> -->
                  <i class="fa fa-pie-chart" aria-hidden="true"></i>
                </div>
                <h6 class="text-primary text-uppercase">Enterprise Application Services</h6>
                <p class="description mt-3">IT wing of Darwish is emerged truly as Business Enabler and DCIPL ensures that this legacy is maintained to add further value to the business...</p>
                <div>
                  <!-- <span class="badge badge-pill badge-primary">angular</span>
                  <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                  <span class="badge badge-pill badge-primary">creative</span> -->
                </div>
                <a routerLink="/services/enterprise-application-services" class="btn btn-primary mt-4">Know more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                  <!-- <i class="ni ni-istanbul"></i> -->
                  <i class="fa fa-cubes" aria-hidden="true"></i>
                </div>
                <h6 class="text-success text-uppercase">Managed Services</h6>
                <p class="description mt-3">We, at DCIPL, providing end to end managed services to all the group companies for improving operations at an affordable cost. We have adopted managed services model...</p>
                <div>
                  <!-- <span class="badge badge-pill badge-success">business</span>
                  <span class="badge badge-pill badge-success">vision</span>
                  <span class="badge badge-pill badge-success">success</span> -->
                </div>
                <a routerLink="/services/managed-services" class="btn btn-success mt-4">Know more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                  <!-- <i class="ni ni-planet"></i> -->
                  <i class="fa fa-desktop" aria-hidden="true"></i>
                </div>
                <h6 class="text-warning text-uppercase">IT Enabled Services(ITES)</h6>
                <p class="description mt-3">DCIPL has formed ITES wing to cover the entire gamut of operations which exploit information technology for improving efficiency of the enterprise...</p>
                <div>
                  <!-- <span class="badge badge-pill badge-warning">marketing</span>
                  <span class="badge badge-pill badge-warning">product</span>
                  <span class="badge badge-pill badge-warning">launch</span> -->
                </div>
                <a routerLink="/services/it-enabled-services" class="btn btn-warning mt-4">Know more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-info rounded-circle mb-4">
                  <!-- <i class="ni ni-planet"></i> -->
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                </div>
                <h6 class="text-info text-uppercase">Business Intelligence Services</h6>
                <p class="description mt-3">At DCIPL, we have learnt from our past experience that a successful Business Intelligence services strategy is not just about delivering... </p>
                <div>
                  <!-- <span class="badge badge-pill badge-info">marketing</span>
                  <span class="badge badge-pill badge-info">product</span>
                  <span class="badge badge-pill badge-info">launch</span> -->
                </div>
                <a routerLink="/services/business-intelligence-services" class="btn btn-info mt-4">Know more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  


<!-- <section class="section bg-secondary">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6">
        <div class="card bg-default shadow border-0">
          <img src="./assets/img-1-1200x1000.jpg" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default" />
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
            </svg>
            <h4 class="display-3 font-weight-bold text-white">Design System</h4>
            <p class="lead text-italic text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens.</p>
          </blockquote>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pl-md-5">
          <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
            <i class="ni ni-settings"></i>
          </div>
          <h3>Our customers</h3>
          <p class="lead">Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure you enable them first via JavaScript.</p>
          <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
          <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
          <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">A beautiful UI Kit for impactful websites</a>
        </div>
      </div>
    </div>
  </div>
</section> -->




<section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Why DCIPL</h2>
          <p class="lead text-white">Established in 2016, Darwish Cybertech India Private Limited (DCIPL), a venture backed by Darwish Bin Ahmed, UAE based conglomerate, is primarily focused on providing the best of IT and ITES services using the cutting edge technologies.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <!-- <i class="ni ni-settings text-primary"></i> -->
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <!-- <h5 class="text-white mt-3">Building tools</h5> -->
          <p class="text-white mt-3">Dedicated IT professional teams to address the needs of the Darwish Bin Ahmed group and Group companies across the globe.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <!-- <i class="ni ni-ruler-pencil text-primary"></i> -->
            <i class="fa fa-info" aria-hidden="true"></i>
          </div>
          <!-- <h5 class="text-white mt-3">Grow your market</h5> -->
          <p class="text-white mt-3">We passionately invest in providing value to our customers; constantly innovating to build customized solutions.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <!-- <i class="ni ni-atom text-primary"></i> -->
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </div>
          <!-- <h5 class="text-white mt-3">Launch time</h5> -->
          <p class="text-white mt-3">We cover the entire spectrum of operations that help in improving Efficiency of the enterprise.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <!-- <i class="ni ni-settings text-primary"></i> -->
            <i class="fa fa-file" aria-hidden="true"></i>
          </div>
          <!-- <h5 class="text-white mt-3">Building tools</h5> -->
          <p class="text-white mt-3">We offer a varied portfolio of IT Enabled Services that deal with solutions for many verticals as Engineering, Construction and Manufacturing, Automotive, HVAC and Hospitality.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <!-- <i class="ni ni-ruler-pencil text-primary"></i> -->
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <!-- <h5 class="text-white mt-3">Grow your market</h5> -->
          <p class="text-white mt-3">We offer non-voice ITES services to fullfil the BPO / KPO requirements of the customers.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <!-- <i class="ni ni-atom text-primary"></i> -->
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </div>
          <!-- <h5 class="text-white mt-3">Launch time</h5> -->
          <p class="text-white mt-3">Our teams are equipped with a deep understanding of the various technological and operational nuances required to run an offshore IT and ITES center of excellence (COE).</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <!-- <i class="ni ni-settings text-primary"></i> -->
            <i class="fa fa-area-chart" aria-hidden="true"></i>
          </div>
          <!-- <h5 class="text-white mt-3">Building tools</h5> -->
          <p class="text-white mt-3">With the help of Business Intelligence tools, we contribute towards business growth by collection of raw data, analysis , forecasting and distribution of the data in a meaningful way that enable better and informed choices to support the business decisions.</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Want to work with us?</h4>
              <p class="mt-0">Your project is very important to us.</p>
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="Your name" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email address" type="email" (focus)="focus1=true" (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Send Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<main class="mt-5">
  <div class="container">
    
    <!--Section: Content-->
    <!-- <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h4><strong>Facilis consequatur eligendi</strong></h4>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
            eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
            sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
          </p>
          <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
            nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
            alias, unde optio accusantium soluta, iusto molestiae adipisci et?
          </p>
        </div>
      </div>
    </section> -->
    <!--Section: Content-->

    <!-- <hr class="my-5" /> -->

    <!--Section: Content-->
    <!-- <section class="text-center">
      <h4 class="mb-5"><strong>Facilis consequatur eligendi</strong></h4>

      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="#!" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!--Section: Content-->

    <!-- <hr class="my-5" /> -->

    <!--Section: Content-->
    <!-- <section class="mb-5">
      <h4 class="mb-5 text-center"><strong>Facilis consequatur eligendi</strong></h4>

      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <form> -->
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <!-- <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">First name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">Last name</label>
                </div>
              </div>
            </div> -->

            <!-- Email input -->
            <!-- <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Email address</label>
            </div> -->

            <!-- Password input -->
            <!-- <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Password</label>
            </div> -->

            <!-- Checkbox -->
            <!-- <div class="form-check d-flex justify-content-center mb-4">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" checked />
              <label class="form-check-label" for="form2Example3">
                Subscribe to our newsletter
              </label>
            </div> -->

            <!-- Submit button -->
            <!-- <button type="submit" class="btn btn-primary btn-block mb-4">
              Sign up
            </button> -->

            <!-- Register buttons -->
            <!-- <div class="text-center">
              <p>or sign up with:</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </section> -->
    <!--Section: Content-->
  </div>
</main>
<!--Main layout-->
