.bg-secondary {
    background-color: #fafafa !important;
}

.icon-shape-success {
    color: #ffffff;
    background-color: #134173;
}

.badge-success {
    color: #ffffff;
    background-color: #134173;
}

// .video-fluid {
//     height: 120vh;
//   }

.image-fluid {
    height: 100vh;
  }