.bg-secondary {
    background-color: #fafafa !important;
}

.icon-shape-success {
    color: #ffffff;
    background-color: #134173;
}

.badge-success {
    color: #ffffff;
    background-color: #134173;
}

// .video-fluid {
//     height: 120vh;
//   }

.image-fluid {
    height: 100vh;
  }

a.carousel-control-prev {
    display: none !important;
}

.carousel-caption {
    text-align: left;
}

section.section.section-lg.bg-gradient-default {
    background-color: #0c3061!important;
}

button.btn.btn-default.btn-round.btn-block.btn-lg
{
    background-color: #0c3061!important;
}



@media (max-width: 400px) {
    mdb-carousel.carousel.slide.carousel-fade {
        max-height: 900px!important;
        max-width: 100px;
    }
}